################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodePulse/Api/CodePulse.Api/.vs
/services/CodePulse.Api/.vs
/services/categories.api/.vs/categories.api
